<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh-Hans</string>
    <key>CFBundleDisplayName</key>
    <string>玉鉴</string>
    <key>CFBundleExecutable</key>
    <string>ImageViewer</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.z3275177914-coder.yujian</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>玉鉴</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.4.7</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ImageViewerGitCommit</key>
    <string>development</string>
    <key>ImageViewerGitBranch</key>
    <string>local</string>
    <key>ImageViewerBuildDate</key>
    <string>未打包</string>
    <key>ImageViewerBuildConfiguration</key>
    <string>debug</string>
    <key>ImageViewerDirty</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>图片查看器本地工具桥接</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>yujian</string>
                <string>imageviewer</string>
            </array>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.image</string>
                <string>public.jpeg</string>
                <string>public.png</string>
                <string>public.heic</string>
                <string>org.webmproject.webp</string>
                <string>com.compuserve.gif</string>
                <string>public.tiff</string>
                <string>com.microsoft.bmp</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
